@model LoginViewModel
@{
    ViewData["Title"] = "Register";
}

<body>
    <div class="form">
        <form asp-action="Login" class="formobj" method="post">
            <h2>Login</h2>

            <div class="formobj">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" id="email" type="email" name="email" required />
                <span asp-validation-for="Email"></span>

                <label asp-for="Password">Password</label>
                <input asp-for="Password" id="password" type="password" name="password" required />
                <span asp-validation-for="Password"></span>

                <label asp-for="RememberMe"></label>
                <input asp-for="RememberMe" />
            </div>

            <button type="submit">Login</button>
            <p>Dont have an account? <a asp-controller="Account" asp-action="Register">Register</a></p>
        </form>
    </div>
</body>