@model RegisterDto
@{
    ViewData["Title"] = "Register";
}

<body>
    <div class="form">
        <form asp-action="Register" method="post">
            <h2>Create Account</h2>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="formobj">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>

                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>

                <label asp-for="PasswordConfirmation">Confirm Password</label>
                <input asp-for="PasswordConfirmation" class="form-control" />
                <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>


                <button type="submit">Register</button>
            </div>
            <p>Already have an account? <a asp-controller="Account" asp-action="Login">Login</a></p>
        </form>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}